## .NET
bin/
obj/
*.user
*.suo
.vs/

## Local secrets
.env
appsettings.Development.local.json
**/secrets.json

## Docker
deploy/data/

## Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/terraform.tfvars
infra/terraform/.terraform.lock.hcl

## Kubernetes secrets
infra/kubernetes/base/secrets.yaml

## Bicep
infra/bicep/*.json

## IDE
.idea/
*.swp
